$white: #FFF;
$black: #000;

$base-color-500: #191A27;
$base-color-400: #1F1A1A;
$base-color-300: #332A2A;
$base-color-200: #919191;
$base-color-100: #909090;

$primary-color-800: #1E2951;
$primary-color-700: #2438A0;
$primary-color-600: #0053CF;
$primary-color-500: #4074AF;
$primary-color-400: #00A3FF;
$primary-color-300: #78E6E6;
$primary-color-200: #69C6DD;
$primary-color-100: #C6DDF1;

$attention-color-300: #963CEF;
$attention-color-200: rgba(255, 0, 21, 0.835);
$attention-color-100: rgba(230, 123, 136, 0.18);

$help-color-200: rgba(196, 196, 196, 0.45);
$help-color-100: #F3EDE6;

$blur-color-400: rgba(14, 116, 235, 0.64);
$blur-color-300: rgba(0, 163, 255, 0.46);
$blur-color-200: rgba(108, 255, 255, 0.46);
$blur-color-100: rgba(162, 199, 232, 0.61);

$sky-verticaly-gradient: linear-gradient(180deg, #6EEEFF -41.84%, rgba(64, 116, 175, 0) 221.43%);
$primary-verticaly-gradient: linear-gradient(180deg, #4074AF -41.84%, rgba(64, 116, 175, 0) 221.43%);
